<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    /> #}
  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link rel="stylesheet" href="{{asset ('/css/main.css')}}"/>
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
     {% include "menu.html.twig" %}
     
    
    <h1 class="rounded border-dark bg-primary p-2 m-2 text-white">{% block monTitre %}{% endblock %}</h1>
    {% block body %}{% endblock %} {% block javascripts %}{% endblock %}


      <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
     {% include "footer.html.twig" %}
  </body>
</html>
