
<div >
<nav>
    <div class="nav-wrapper purple darken-4">
      <a href="/" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{path('accueil')}}">SuperHero</a></li>
        <li><a href="{{path('personnages')}}">Personnages</a></li>
        <li><a href="{{path('armes')}}">Armes</a></li>
      </ul>
    </div>
  </nav>
</div>





   
  



